
<%- include("header.ejs") %>

    <div class="container">
        <% if(locals.dt){ %>
        <h1><%= dt %></h1>
        <% } else {%>
            <h1>Error</h1>
            <% } %>

            <div class="form">
                <form action="/listaddtoday" method="post">
                   
                      <ul>  
                        <% if(locals.a1){ %>
                            <li class="input">
                                <input class="textinput" type="text" name="textinput" id="" required>
                            </li>
                        <% } else{%>
    
                        <li class="input">
                            <input class="textinput" type="text" name="textinput" id="" required>
                        </li>
                        <% } %>
    
                      <% if(locals.a1){ %>
                        <% for(var i=0;i<a1.length;i++) {%>
                        <li class="input done">
                        <input class="checkbox" type="checkbox" name="" id="" >
                            <div type="text" class="textinput"> <%= a1[i] %></div>
                        <% } %>
                        <% } %>
    
                  
                </ul>
                    <div class="formfooter">
                        <h2>New Item</h2>
                        <button id="add" name="submitButton" value="add" type="submit"><i class="fa-solid fa-plus"></i></button>
                                  
                    </div>
                </form>
               
                
            </div>


        <!-- <div class="form">
            <form action="" method="post">
                <div class="input">
                    <input class="checkbox" type="checkbox" name="" id="">
                    <input class="textinput" type="text" name="" id="">
                </div>
                <div class="input">
                    <input class="checkbox" type="checkbox" name="" id="">
                    <input class="textinput" type="text" name="" id="">
                </div>
                <div class="input">
                    <input class="checkbox" type="checkbox" name="" id="">
                    <input class="textinput" type="text" name="" id="">
                </div>
                <div class="input">
                    <input class="checkbox" type="checkbox" name="" id="">
                    <input class="textinput" type="text" name="" id="">
                </div>
                <div class="input">
                    <input class="checkbox" type="checkbox" name="" id="">
                    <input class="textinput" type="text" name="" id="">
                </div>
            </form>
            <div class="formfooter">
                <h2>New Item</h2><span><i class="fa-solid fa-plus"></i></span>
            </div>
            
        </div> -->
    </div>
    
<%- include("footer.ejs") %>